---
import BaseHead from '@Components/en/BaseHead.astro';
import Header from '@Components/en/Header.astro';
import Footer from '@Components/en/Footer.astro';
import MobileMenu from '@Components/en/MobileMenu.astro';

const { page } = Astro.props;
---


<!DOCTYPE html>
<html lang="zxx" class="h-full overflow-x-hidden dark">

<BaseHead />

<body class="relative z-10 antialiased font-base text-gray-500 text-sm font-medium lg:text-base h-full bg-white dark:bg-gray-900 overflow-x-hidden dark:text-gray">

  <div id="site-wrapper" class="flex flex-col h-full js-site-wrapper">

    <div class="header-wrapper text-white">

      <!-- HEADER -->
      <Header page={page} />

      <!-- HEADER -->

    </div>

    <!-- Mobile Menu -->
    <MobileMenu />
    <!-- Mobile Menu / End -->

    <!-- PAGE CONTENT -->
    <slot />
    <!-- PAGE CONTENT -->

    <!-- FOOTER -->
		<Footer />
    <!-- FOOTER -->
  </div>

  <!-- SOCIAL LINKS -->
  <div class="fixed bottom-5 left-2 z-20 flex flex-col-reverse items-center lg:bottom-auto lg:top-60 lg:left-7 hidden">

    <button class="js-vv-social-links-floating-toggle peer mt-4 inline-flex h-10 w-10 items-center justify-center rounded-full bg-primary text-white transition-transform hover:scale-110 lg:mt-9 lg:hidden">
      <span class="sr-only">Toggle Social Links</span>
      <svg class="aspect-square w-4" fill="currentColor">
        <use xlink:href="/assets/img/yt1/sprite.svg#share"></use>
      </svg>
    </button>

    <ul class="js-vv-social-links-floating vv-social-list-color hidden w-8 flex-col gap-y-4 peer-[.active]:flex lg:flex lg:gap-y-9">
      <li>
        <a class="inline-flex h-8 w-8 items-center justify-center rounded-full text-white transition-transform hover:scale-110" href="https://youtube.com/">
          <svg class="aspect-square w-3.5" fill="currentColor">
            <use xlink:href="/assets/img/social-icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="inline-flex h-8 w-8 items-center justify-center rounded-full text-white transition-transform hover:scale-110" href="https://discord.com">
          <svg class="aspect-square w-3.5" fill="currentColor">
            <use xlink:href="/assets/img/social-icons.svg#discord"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <!-- SOCIAL LINKS -->

  <!-- BACKGROUND -->
  <div class="vv-body-bg absolute inset-0 max-h-[1144px] bg-[url('../../../assets/img/str1/samples/body-bg-1.jpg')] bg-no-repeat bg-top bg-cover -z-10 opacity-10 dark:opacity-100">
    <div class="absolute inset-0 bg-black mix-blend-color z-[1]"></div>
    <div class="absolute inset-0 dark:bg-gray-900 mix-blend-multiply z-[2]"></div>
    <div class="absolute inset-0 dark:bg-gray-600 mix-blend-screen z-[3] opacity-40"></div>
  </div>
  <!-- BACKGROUND -->

  <!-- Scripts
  ================================================== -->
  <!-- Vendors JS -->
  <script is:inline src="/assets/vendors/common/glightbox/js/glightbox.min.js"></script>
  <script is:inline src="/assets/vendors/common/swiper/js/swiper-bundle.min.js"></script>

  <!-- Template JS -->
  <script is:inline src="/assets/js/common.js"></script>
  <script is:inline src="/assets/js/str1/init.js"></script>

  <!-- Calendar -->
<!--
  <script is:inline src="/assets/js/calendar/mobiscroll.javascript.min.js"></script>
  <script is:inline src="/assets/js/calendar/calendar.js"></script>
-->

  <!-- Flowbite -->
  <script is:inline src="/assets/js/flowbite/1.8.0/flowbite.min.js"></script>

  <!-- Ranking -->
  <script is:inline src="/assets/js/ranking/ranking.js"></script>
  <!-- Ranking -->

  <!-- Mounts -->
  <script is:inline src="/assets/js/mounts/mounts.js"></script>
  <!-- Mounts -->
  
  <!-- Tools -->
  <script is:inline src="/assets/js/tools/mount-tool.js"></script>
  <script is:inline src="/assets/js/tools/artifact-tool.js"></script>
  <!-- Tools -->

</body>

</html>