---
import Item from "./Item.astro";
import { skills } from "@Content/game_data_en/Skills.astro";

const { earlyGame, midGame, lateGame, type } = Astro.props;
---

<!-- Header -->
<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
  <ul
    class="flex flex-wrap -mb-px text-sm font-medium text-center"
    id="default-tab"
    data-tabs-toggle="#default-tab-content"
    role="tablist"
  >
    <!-- Early Game -->
    <li class="me-2" role="presentation">
      <button
        class="inline-block p-4 border-b-2 rounded-t-lg"
        id={type + "-early-gamme-tab"}
        data-tabs-target={"#" + type + "-early-gamme"}
        type="button"
        role="tab"
        aria-controls={type + "-early-gamme"}
        aria-selected="false">Early Game</button
      >
    </li>
    <!-- Early Game -->
    <!-- Mid Game -->
    <li class="me-2" role="presentation">
      <button
        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        id={type + "-mid-gamme-tab"}
        data-tabs-target={"#" + type + "-mid-gamme"}
        type="button"
        role="tab"
        aria-controls={type + "-mid-gamme"}
        aria-selected="false">Mid Game</button
      >
    </li>
    <!-- Mid Game -->
    <!-- Late Game -->
    <li class="me-2" role="presentation">
      <button
        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        id={type + "-late-gamme-tab"}
        data-tabs-target={"#" + type + "-late-gamme"}
        type="button"
        role="tab"
        aria-controls={type + "-late-gamme"}
        aria-selected="false">Late Game</button
      >
    </li>
    <!-- Late Game -->
  </ul>
</div>
<!-- Header -->
<!-- Content -->
<div id="default-tab-content">
  <!-- Early Game -->
  <div
    class="pt-2 px-2 rounded-lg bg-gray-50 dark:bg-gray-800 inline-block max-content"
    id={type + "-early-gamme"}
    role="tabpanel"
    aria-labelledby="early-game-tab"
  >
    {
      earlyGame.map((item, index) => (
        <Item
          name={skills.find((s) => s.id == item.id)?.name ?? item.name}
          tooltip={skills.find((s) => s.id == item.id)?.description ?? item.tooltip}
          img={skills.find((s) => s.id == item.id)?.img ?? item.img}
          id={type + "-early-gamme-item-" + index}
        />
      ))
    }
  </div>
  <!-- Early Game -->
  <!-- Mid Game -->
  <div
    class="pt-2 px-2 rounded-lg bg-gray-50 dark:bg-gray-800 inline-block max-content"
    id={type + "-mid-gamme"}
    role="tabpanel"
    aria-labelledby="mid-game-tab"
  >
    {
      midGame.map((item, index) => (
        <Item
          name={skills.find((s) => s.id == item.id)?.name ?? item.name}
          tooltip={skills.find((s) => s.id == item.id)?.description ?? item.tooltip}
          img={skills.find((s) => s.id == item.id)?.img ?? item.img}
          id={type + "-mid-gamme-item-" + index}
        />
      ))
    }
  </div>
  <!-- Mid Game -->
  <!-- Late Game -->
  <div
    class="pt-2 px-2 rounded-lg bg-gray-50 dark:bg-gray-800 inline-block max-content"
    id={type + "-late-gamme"}
    role="tabpanel"
    aria-labelledby="late-game-tab"
  >
    {
      lateGame.map((item, index) => (
        <Item
          name={skills.find((s) => s.id == item.id)?.name ?? item.name}
          tooltip={skills.find((s) => s.id == item.id)?.description ?? item.tooltip}
          img={skills.find((s) => s.id == item.id)?.img ?? item.img}
          id={type + "-late-gamme-item-" + index}
        />
      ))
    }
  </div>
  <!-- Late Game -->
</div>
<!-- Content -->
