---
import Item from "./Item.astro";
import { skills } from "@Content/game_data_en/Skills.astro";
import { pals } from "@Content/game_data_en/Pals.astro";
import { relics } from "@Content/game_data_en/Relics.astro";
import type { GameItem } from "@Types/ContentDto.ts";

const { tabs, prefix, type } = Astro.props;
const elements: GameItem[] = type === "pals" ? pals : (type === "skills" ? skills : relics);

class Tab {
  code: string;
  name: string;
  items: string[];
  cooldown?: number;

  constructor(code: string, name: string, items: string[], cooldown?: number) {
    this.code = code;
    this.name = name;
    this.items = items;
    this.cooldown = cooldown;
  }
}
---

<!-- Header -->
<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
  <ul
    class="flex flex-wrap -mb-px text-sm font-medium text-center"
    id="default-tab"
    data-tabs-toggle="#default-tab-content"
    role="tablist"
  >
    {
      tabs.map((tab: Tab, index: number) => (
        <li class="me-2" role="presentation">
          <button
            class="inline-block p-4 border-b-2 rounded-t-lg"
            id={tab.code + "-tab"}
            data-tabs-target={"#" + prefix + "-" + tab.code}
            prefix="button"
            role="tab"
            aria-controls={prefix + "-" + tab.code}
            aria-selected={index == 0 ? "true" : "false"}
          >
            {tab.name}
          </button>
        </li>
      ))
    }
  </ul>
</div>
<!-- Header -->
<!-- Content -->
<div id="default-tab-content">
  {
    tabs.map((tab: Tab) => (
      <div
        class="pt-2 px-2 rounded-lg bg-gray-50 dark:bg-gray-800 inline-block max-content"
        id={prefix + "-" + tab.code}
        role="tabpanel"
        aria-labelledby={tab.code + "-tab"}
      >
        {tab.items.map((item: String, index: number) => (
          <Item
            name={elements.find((e) => e.id == item)?.name}
            tooltip={elements.find((e) => e.id == item)?.description}
            img={elements.find((e) => e.id == item)?.img}
            id={prefix + "-" + tab.code + "-item-" + index}
            cooldown={elements.find((e) => e.id == item)?.cooldown}
          />
        ))}
      </div>
    ))
  }
</div>
<!-- Content -->
