<div class="pb-20 md:pb-24 lg:pb-[130px]">
    <div class="container">
      <div class="mb-10 md:mb-12 lg:mb-16 xl:mb-20">
        <h2
          class="text-2.5xl font-bold tracking-tighter text-gray-900 before:text-accent before:content-['.'] dark:text-white sm:text-3.5xl md:text-4xl lg:text-[62px] lg:leading-none"
        >
          Featured Videos
        </h2>
      </div>

      <div class="grid grid-cols-12 gap-5 md:gap-6 lg:gap-7.5 mb-7.5">
        <!-- VIDEO 1 -->
        <figure
          class="col-span-full md:row-start-1 md:row-end-2 lg:col-span-8 lg:row-start-1 lg:row-end-3"
        >
          <a
            class="group relative block h-full overflow-hidden bg-gray-900 glightbox"
            href="https://www.youtube.com/watch?v=Ok95OxW8r1w"
          >
            <img
              class="aspect-[77/46] w-full object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-75"
              src="/assets/img/yt_videos/video_1b.webp"
              alt="Legend of Mushroom Official Launch Trailer"
            />

            <div class="absolute inset-0 bg-black/60"></div>

            <span
              class="absolute top-1/2 left-1/2 flex aspect-square -translate-x-2/4 -translate-y-2/4 items-center justify-center w-10"
            >
              <svg role="img" class="fill-white aspect-[18/22] ml-[2px] w-6">
                <use xlink:href="/assets/img/sprites/sprite_yt1.svg#play"></use>
              </svg>
            </span>

            <div
              class="absolute flex inset-x-5 xl:inset-x-6 top-5 xl:top-6 gap-x-3"
            >
              <figure class="shrink-0">
                <img
                  class="w-10 object-cover aspect-square"
                  src="/assets/img/yt_videos/official_channel_profile_pic.webp"
                  alt=""
                />
              </figure>
              <div class="flex-1 leading-tight min-w-0">
                <h6 class="font-bold text-white truncate w-full">
                  Legend of Mushroom Official Launch Trailer
                </h6>
                <time class="text-gray text-sm" datetime="2023-03-01 21:30"
                  >March 1st, 2024</time
                >
              </div>
            </div>
          </a>
        </figure>
        <!-- VIDEO 1 -->

        <!-- VIDEO 2 -->
        <figure
          class="col-span-full md:row-start-2 md:row-end-2 md:col-span-6 lg:col-span-4 lg:row-start-1 lg:row-end-2"
        >
          <a
            class="group relative block h-full overflow-hidden bg-gray-900 glightbox"
            href="https://www.youtube.com/watch?v=LFOQmLq2INU"
          >
            <img
              class="aspect-[370/215] w-full object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-75"
              src="/assets/img/yt_videos/video_2.webp"
              alt="Legend of Mushroom COMING SOON !"
            />

            <div class="absolute inset-0 bg-black/60"></div>

            <span
              class="absolute top-1/2 left-1/2 flex aspect-square -translate-x-2/4 -translate-y-2/4 items-center justify-center w-10"
            >
              <svg role="img" class="fill-white aspect-[18/22] ml-[2px] w-6">
                <use xlink:href="/assets/img/sprites/sprite_yt1.svg#play"></use>
              </svg>
            </span>

            <div
              class="absolute flex inset-x-5 xl:inset-x-6 top-5 xl:top-6 gap-x-3"
            >
              <figure class="shrink-0">
                <img
                  class="w-10 object-cover aspect-square"
                  src="/assets/img/yt_videos/official_channel_profile_pic.webp"
                  alt=""
                />
              </figure>
              <div class="flex-1 leading-tight min-w-0">
                <h6 class="font-bold text-white truncate w-full">
                  Legend of Mushroom COMING SOON !
                </h6>
                <time class="text-gray text-sm" datetime="2023-03-01 21:30"
                  >February 23th, 2024</time
                >
              </div>
            </div>
          </a>
        </figure>
        <!-- VIDEO 2 -->

        <!-- VIDEO 3 -->
        <figure
          class="col-span-full md:row-start-2 md:row-end-2 md:col-span-6 lg:col-span-4 lg:row-start-2 lg:row-end-3"
        >
          <a
            class="group relative block h-full overflow-hidden bg-gray-900 glightbox"
            href="https://www.youtube.com/watch?v=z31wvsKrr9Y"
          >
            <img
              class="aspect-[370/215] w-full object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-75"
              src="/assets/img/yt_videos/video_3.webp"
              alt="Legend of Mushroom Pre-registration is open!"
            />

            <div class="absolute inset-0 bg-black/60"></div>

            <span
              class="absolute top-1/2 left-1/2 flex aspect-square -translate-x-2/4 -translate-y-2/4 items-center justify-center w-10"
            >
              <svg role="img" class="fill-white aspect-[18/22] ml-[2px] w-6">
                <use xlink:href="/assets/img/sprites/sprite_yt1.svg#play"></use>
              </svg>
            </span>

            <div
              class="absolute flex inset-x-5 xl:inset-x-6 top-5 xl:top-6 gap-x-3"
            >
              <figure class="shrink-0">
                <img
                  class="w-10 object-cover aspect-square"
                  src="/assets/img/yt_videos/official_channel_profile_pic.webp"
                  alt=""
                />
              </figure>
              <div class="flex-1 leading-tight min-w-0">
                <h6 class="font-bold text-white truncate w-full">
                  Legend of Mushroom Pre-registration is open!
                </h6>
                <time class="text-gray text-sm" datetime="2023-03-01 21:30"
                  >January 31st, 2024</time
                >
              </div>
            </div>
          </a>
        </figure>
        <!-- VIDEO 3 -->
      </div>

      <div class="grid grid-cols-12 gap-5 md:gap-6 lg:gap-7.5">
        <div class="col-span-full md:col-span-6">
          <div
            class="relative isolate w-full aspect-[57/16] flex bg-accent text-gray-900 overflow-hidden justify-between items-center"
          >
            <div
              class="leading-tight pl-5 lg:pl-8 xl:pl-10 xl:pb-2 lg:pb-3 flex-1"
            >
              <div
                class="font-bold text-base leading-none sm:text-lg md:text-base md:leading-none lg:text-lg mb-1.5 xl:mb-2.5"
              >
                Want to see more? Check out
              </div>
              <h4
                class="font-bold text-2xl sm:text-3xl md:text-2xl md:leading-none leading-none lg:text-3xl xl:text-[42px]"
              >
                All Our Videos
              </h4>
            </div>

            <img
              class="absolute -z-10 right-0 top-0 bottom-0 object-cover object-left max-w-[39%]"
              src="/assets/img/str1/samples/stream-banner-1.png"
              alt=""
            />

            <a href="#" class="block absolute inset-0"></a>
          </div>
        </div>

        <div class="col-span-full md:col-span-6">
          <div
            class="relative isolate w-full aspect-[57/16] flex bg-social-twitch text-white overflow-hidden justify-between items-center"
          >
            <div
              class="leading-tight pl-5 lg:pl-8 xl:pl-10 xl:pb-2 lg:pb-3 flex-1"
            >
              <div
                class="font-bold text-base leading-none sm:text-lg md:text-base md:leading-none lg:text-lg mb-1.5 xl:mb-2.5"
              >
                Subscribe to our channel!
              </div>
              <h4
                class="font-bold text-2xl sm:text-3xl md:text-2xl md:leading-none leading-none lg:text-3xl xl:text-[42px]"
              >
                @LoMAcademy
              </h4>
            </div>

            <img
              class="absolute -z-10 right-0 top-0 bottom-0 object-cover object-left max-w-[27%]"
              src="/assets/img/str1/stream-banner-2.png"
              alt=""
            />

            <a href="#" class="block absolute inset-0"></a>
          </div>
        </div>
      </div>
    </div>
  </div>