<div class="pb-20 md:pb-24 lg:pb-[120px]">
    <div class="container">
      <div class="mb-10 md:mb-12 lg:mb-16 xl:mb-20 flex flex-col gap-y-6 sm:flex-row sm:justify-between sm:items-center">
        <h2 class="text-2.5xl font-bold tracking-tighter text-gray-900 before:text-accent before:content-['.'] dark:text-white sm:text-3.5xl md:text-4xl lg:text-[62px] lg:leading-none">
          Latest Blog Posts
        </h2>

        <a href="_str1-blog.html" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 md:py-[21px] px-5 lg:px-10 text-gray-500/40 ring-1 ring-inset ring-gray-500/40 bg-transparent hover:bg-accent hover:text-gray-900 hover:ring-0">
          Read All Posts

        </a>
      </div>

      <div class="grid grid-cols-12 gap-y-8 sm:gap-7.5">
        <article class="col-span-full sm:col-span-6 lg:col-span-4">
          <figure class="group overflow-hidden bg-gray-900">
            <a href="_str1-single.html">
              <img class="aspect-[37/24] h-full w-full max-w-full object-cover duration-300 group-hover:scale-110 group-hover:opacity-75" src="/assets/img/str1/samples/post-img-1-370x240.jpg" alt="Come and Meet me at this year’s TwitchCon!">
            </a>
          </figure>
          <div class="pt-5 lg:pt-8">
            <div class="mb-2 text-sm font-bold text-gray-900 dark:text-white">March 18th, 2022</div>
            <h2 class="mb-4 text-2xl font-bold leading-tight lg:mb-7 lg:text-3xl xl:text-[32px] xl:leading-9">
              <a href="_str1-single.html" class="text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent">
                Come and Meet me at this year’s TwitchCon!
              </a>
            </h2>
            <div class="mb-5.5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua en derum enim.
            </div>
            <footer>
              <a class="text-xs font-bold uppercase text-gray-500 transition-colors hover:text-gray-900 dark:hover:text-white" href="_str-single.html">Read More...</a>
            </footer>
          </div>
        </article>
        <article class="col-span-full sm:col-span-6 lg:col-span-4">
          <figure class="group overflow-hidden bg-gray-900">
            <a href="_str1-single.html">
              <img class="aspect-[37/24] h-full w-full max-w-full object-cover duration-300 group-hover:scale-110 group-hover:opacity-75" src="/assets/img/str1/samples/post-img-2-370x240.jpg" alt="Witch Hunters Deluxe Pack Unboxing">
            </a>
          </figure>
          <div class="pt-5 lg:pt-8">
            <div class="mb-2 text-sm font-bold text-gray-900 dark:text-white">March 6th, 2022</div>
            <h2 class="mb-4 text-2xl font-bold leading-tight lg:mb-7 lg:text-3xl xl:text-[32px] xl:leading-9">
              <a href="_str1-single.html" class="text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent">
                Witch Hunters Deluxe Pack Unboxing
              </a>
            </h2>
            <div class="mb-5.5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua en derum enim.
            </div>
            <footer>
              <a class="text-xs font-bold uppercase text-gray-500 transition-colors hover:text-gray-900 dark:hover:text-white" href="_str-single.html">Read More...</a>
            </footer>
          </div>
        </article>
        <article class="col-span-full sm:col-span-6 lg:col-span-4">
          <figure class="group overflow-hidden bg-gray-900">
            <a href="_str1-single.html">
              <img class="aspect-[37/24] h-full w-full max-w-full object-cover duration-300 group-hover:scale-110 group-hover:opacity-75" src="/assets/img/str1/samples/post-img-3-370x240.jpg" alt="I chatted with Rick Dunnet from Goddess of War">
            </a>
          </figure>
          <div class="pt-5 lg:pt-8">
            <div class="mb-2 text-sm font-bold text-gray-900 dark:text-white">February 20th, 2022</div>
            <h2 class="mb-4 text-2xl font-bold leading-tight lg:mb-7 lg:text-3xl xl:text-[32px] xl:leading-9">
              <a href="_str1-single.html" class="text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent">
                I chatted with Rick Dunnet from Goddess of War
              </a>
            </h2>
            <div class="mb-5.5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua en derum enim.
            </div>
            <footer>
              <a class="text-xs font-bold uppercase text-gray-500 transition-colors hover:text-gray-900 dark:hover:text-white" href="_str-single.html">Read More...</a>
            </footer>
          </div>
        </article>
      </div>
    </div>
  </div>