---
import StandarLayout from "@Layouts/StandarLayout.astro";
---

<StandarLayout title="About">
  <div class="page-heading py-6 md:py-12">
    <div class="container">
      <div class="mb-2 flex items-baseline gap-x-3 lg:gap-x-4.5">
        <svg
          role="img"
          class="aspect-[6/9] w-3 fill-accent sm:w-4 md:w-5 lg:w-7 xl:w-9"
        >
          <use xlink:href="/assets/img/str1/sprite.svg#arrow-right-pixel"></use>
        </svg>
        <h1
          class="relative mb-3 text-3xl font-bold leading-none tracking-tighter text-gray-900 dark:text-white sm:text-4xl md:text-5xl lg:text-7xl xl:text-[84px]"
        >
          About
        </h1>
      </div>

      <ol
        class="relative flex flex-wrap gap-x-6 text-sm leading-none text-gray-500 lg:gap-x-8 lg:text-lg [&>li>a]:text-gray-900 hover:[&>li>a]:text-accent dark:[&>li>a]:text-white dark:hover:[&>li>a]:text-accent [&>li]:relative"
      >
        <li class="font-bold">
          <a href="_str1-index.html">Home</a>
          <svg
            role="img"
            class="fill-gray absolute -right-4 top-1/2 aspect-[3/5] w-1.5 -translate-y-1/2 lg:-right-5"
          >
            <use xlink:href="/assets/img/str1/sprite.svg#arrow-right-pixel-alt"
            ></use>
          </svg>
        </li>
        <li>About</li>
      </ol>
    </div>
  </div>

  <main id="main-content" class="grow lg:pt-0">
    <div class="pt-10 pb-16 lg:pt-20 lg:pb-44">
      <div class="container">
        <div class="grid grid-cols-12 gap-x-5 md:gap-x-6 lg:gap-x-7.5 gap-y-16">
          <div
            class="col-span-full md:col-span-8 md:pr-[38px] lg:pr-[50px] xl:pr-[70px]"
          >
            <!-- FAQ -->
            <div class="mb-12 md:mb-16 lg:mb-20 xl:mb-24">
              <h3
                class="text-gray-900 dark:text-white text-xl sm:text-2xl md:text-3xl lg:text-[32px] font-bold mb-8 md:mb-12 lg:mb-14 xl:mb-16"
              >
                Frequently Asked Questions
              </h3>
              <div
                class="accordion flex flex-col gap-y-6 lg:gap-y-8 xl:gap-y-11"
              >
                <!-- First question -->
                <div class="accordion__item group">
                  <div
                    class="accordion__item-trigger relative flex flex-wrap items-center gap-3 lg:gap-4 text-gray-900 dark:text-white lg:text-2xl font-bold cursor-pointer"
                  >
                    <span class="pr-8 md:pr-0"
                      >Can I participate in the project?</span
                    >
                    <span
                      class="absolute right-0 top-0 w-5 aspect-square border-2 border-gray-650 group-[.active]:border-accent md:relative before:w-2 before:h-0.5 before:absolute before:left-1/2 before:top-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:bg-gray-650 after:w-0.5 after:h-2 after:visible after:absolute after:left-1/2 after:top-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:bg-gray-650 group-[.active]:after:invisible group-[.active]:before:bg-gray-900 dark:group-[.active]:before:bg-white"
                    ></span>
                  </div>
                  <div
                    class="accordion__item-content hidden group-[.active]:block animate-fade"
                  >
                    <div class="pt-6 lg:pt-8 xl:pt-10">
                      Of course. Having community members who want to help with the project 
                      by writing new guides and news, developing new tools, 
                      or translating into other languages would be fantastic.
                    </div>
                  </div>
                </div>
                <!-- First question -->
                <!-- Second question -->
                <div class="accordion__item group">
                  <div
                    class="accordion__item-trigger relative flex flex-wrap items-center gap-3 lg:gap-4 text-gray-900 dark:text-white lg:text-2xl font-bold cursor-pointer"
                  >
                    <span class="pr-8 md:pr-0"
                      >Can I check what features are coming and propose new ones?</span
                    >
                    <span
                      class="absolute right-0 top-0 w-5 aspect-square border-2 border-gray-650 group-[.active]:border-accent md:relative before:w-2 before:h-0.5 before:absolute before:left-1/2 before:top-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:bg-gray-650 after:w-0.5 after:h-2 after:visible after:absolute after:left-1/2 after:top-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:bg-gray-650 group-[.active]:after:invisible group-[.active]:before:bg-gray-900 dark:group-[.active]:before:bg-white"
                    ></span>
                  </div>
                  <div
                    class="accordion__item-content hidden group-[.active]:block animate-fade"
                  >
                    <div class="pt-6 lg:pt-8 xl:pt-10">
                      You can check the development status of the platform and upcoming 
                      updates on our Trello board, which you'll find under the FAQ section. 
                      We'd love it if you could send us any suggestions you come up with to 
                      improve the platform. Don't hesitate to contact us via Discord to share whatever you'd like.
                    </div>
                  </div>
                </div>
                <!-- Second question -->
                <!-- Third question -->
                <div class="accordion__item group">
                  <div
                    class="accordion__item-trigger relative flex flex-wrap items-center gap-3 lg:gap-4 text-gray-900 dark:text-white lg:text-2xl font-bold cursor-pointer"
                  >
                    <span class="pr-8 md:pr-0"
                      >Are you going to add new languages ​​to the platform?</span
                    >
                    <span
                      class="absolute right-0 top-0 w-5 aspect-square border-2 border-gray-650 group-[.active]:border-accent md:relative before:w-2 before:h-0.5 before:absolute before:left-1/2 before:top-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:bg-gray-650 after:w-0.5 after:h-2 after:visible after:absolute after:left-1/2 after:top-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:bg-gray-650 group-[.active]:after:invisible group-[.active]:before:bg-gray-900 dark:group-[.active]:before:bg-white"
                    ></span>
                  </div>
                  <div
                    class="accordion__item-content hidden group-[.active]:block animate-fade"
                  >
                    <div class="pt-6 lg:pt-8 xl:pt-10">
                      We would like to be able to add new languages ​​to the platform, 
                      but for now, we can only support English and Spanish since we 
                      don't have any team member who can handle other languages. 
                      Hopefully, in the future, a community member can help us with that.
                    </div>
                  </div>
                </div>
                <!-- Third question -->
                <!-- Fourth question -->
                <div class="accordion__item group">
                  <div
                    class="accordion__item-trigger relative flex flex-wrap items-center gap-3 lg:gap-4 text-gray-900 dark:text-white lg:text-2xl font-bold cursor-pointer"
                  >
                    <span class="pr-8 md:pr-0"
                      >How can I support the project?</span
                    >
                    <span
                      class="absolute right-0 top-0 w-5 aspect-square border-2 border-gray-650 group-[.active]:border-accent md:relative before:w-2 before:h-0.5 before:absolute before:left-1/2 before:top-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:bg-gray-650 after:w-0.5 after:h-2 after:visible after:absolute after:left-1/2 after:top-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:bg-gray-650 group-[.active]:after:invisible group-[.active]:before:bg-gray-900 dark:group-[.active]:before:bg-white"
                    ></span>
                  </div>
                  <div
                    class="accordion__item-content hidden group-[.active]:block animate-fade"
                  >
                    <div class="pt-6 lg:pt-8 xl:pt-10">
                      For now, if you help us by sharing the platform with your friends, 
                      it would be a great help to support the project. Also you can use 
                      the referal codes we provide at the about me section.
                    </div>
                  </div>
                </div>
                <!-- Fourth question -->
              </div>
            </div>
            <!-- FAQ -->

            <!-- Links -->
            <div>
              <h3
                class="text-gray-900 dark:text-white text-xl sm:text-2xl md:text-3xl lg:text-[32px] font-bold mb-8 md:mb-12 lg:mb-14 xl:mb-16"
              >
                Project Links
              </h3>

              <div class="flex flex-col gap-y-12">
                <!--GitHub -->
                <div
                  class="grid grid-cols-[70px_1fr] grid-rows-2 lg:grid-rows-1 lg:auto-rows-auto lg:grid-cols-[70px_1fr_180px] gap-x-4 lg:gap-x-6 xl:gap-x-7.5 gap-y-6"
                >
                  <div class="flex items-center justify-center">
                    <svg
                      class="aspect-square w-11 h-12.5 fill-accent"
                      fill="currentColor"
                    >
                      <use xlink:href="/assets/img/social-icons.svg#github"
                      ></use>
                    </svg>
                  </div>

                  <div class="lg:pt-1">
                    <h4
                      class="lg:leading-none text-xl lg:text-2xl font-bold text-gray-900 dark:text-white"
                    >
                      <a
                        class="text-gray-900 dark:text-white hover:text-accent dark:hover:text-accent transition-colors"
                        href="#">LoM-Academy Repository</a
                      >
                    </h4>
                    <div class="font-bold text-gray-500">GitHub</div>
                  </div>
                </div>
                <!--GitHub -->
                <!--Trello -->
                <div
                  class="grid grid-cols-[70px_1fr] grid-rows-2 lg:grid-rows-1 lg:auto-rows-auto lg:grid-cols-[70px_1fr_180px] gap-x-4 lg:gap-x-6 xl:gap-x-7.5 gap-y-6"
                >
                  <div class="flex items-center justify-center">
                    <svg
                      class="aspect-square w-11 h-12.5 fill-accent"
                      fill="currentColor"
                    >
                      <use xlink:href="/assets/img/social-icons.svg#trello"
                      ></use>
                    </svg>
                  </div>

                  <div class="lg:pt-1">
                    <h4
                      class="lg:leading-none text-xl lg:text-2xl font-bold text-gray-900 dark:text-white"
                    >
                      <a
                        class="text-gray-900 dark:text-white hover:text-accent dark:hover:text-accent transition-colors"
                        href="#">Project Dashboard</a
                      >
                    </h4>
                    <div class="font-bold text-gray-500">Trello</div>
                  </div>
                </div>
                <!--Trello -->
                <!-- Discord -->
                <div
                  class="grid grid-cols-[70px_1fr] grid-rows-2 lg:grid-rows-1 lg:auto-rows-auto lg:grid-cols-[70px_1fr_180px] gap-x-4 lg:gap-x-6 xl:gap-x-7.5 gap-y-6"
                >
                  <div class="flex items-center justify-center">
                    <svg
                      class="aspect-square w-11 h-12.5 fill-accent"
                      fill="currentColor"
                    >
                      <use xlink:href="/assets/img/social-icons.svg#discord"
                      ></use>
                    </svg>
                  </div>

                  <div class="lg:pt-1">
                    <h4
                      class="lg:leading-none text-xl lg:text-2xl font-bold text-gray-900 dark:text-white"
                    >
                      <a
                        class="text-gray-900 dark:text-white hover:text-accent dark:hover:text-accent transition-colors"
                        href="#">LoM-Academy Discord Server</a
                      >
                    </h4>
                    <div class="font-bold text-gray-500">Discord</div>
                  </div>
                </div>
                <!-- Discord -->
              </div>
            </div>
            <!-- Links -->
          </div>

          <div class="col-span-full md:col-span-4">
            <!-- About us -->
            <div class="mb-12 md:mb-16 lg:mb-20 xl:mb-24">
              <h3
                class="text-gray-900 dark:text-white text-xl sm:text-2xl md:text-3xl lg:text-[32px] font-bold mb-8 md:mb-12 lg:mb-14 xl:mb-16"
              >
                About us
              </h3>
              <div class="mb-6 lg:mb-10">
                Hi! I'm 
                <a href="#" class="text-accent hover:text-gray-900 dark:hover:text-white">xShaiLx</a> 
                a player of LoM and the developer of this platform.
                <br>
                <br>
                My goal with this project is to ensure that all players have acc1ess 
                to the maximum amount of content possible to enjoy the game to the fullest.
                <br>
                <br>
                To make this possible, the LoM Academy team relies on collaborators who are 
                community members and contribute in different areas to making this possible.
              </div>
            </div>
            <!-- About us -->

            <!-- Team -->
            <div>
              <h3
                class="text-gray-900 dark:text-white text-xl sm:text-2xl md:text-3xl lg:text-[32px] font-bold mb-8 md:mb-12 lg:mb-14 xl:mb-16"
              >
                LoM-Academy Team
              </h3>
              <dl
                class="mb-8 flex flex-col gap-y-3.5 font-medium md:mb-10 lg:mb-12"
              >
                <div class="flex flex-wrap justify-between">
                  <dt class="text-gray-500 opacity-60">Dev</dt>
                  <dd
                    class="[&_a]:text-accent [&_a]:hover:text-gray-900 [&_a]:dark:hover:text-white"
                  >
                  <a
                  href="#"
                  class="text-accent hover:text-gray-900 dark:hover:text-white"
                  >xShaiLx</a>
                  </dd>
                </div>
                <div class="flex flex-wrap justify-between">
                  <dt class="text-gray-500 opacity-60">Content creator</dt>
                  <dd
                    class="[&_a]:text-accent [&_a]:hover:text-gray-900 [&_a]:dark:hover:text-white"
                  >
                  <a
                  href="#"
                  class="text-accent hover:text-gray-900 dark:hover:text-white"
                  >EmEm</a>
                  </dd>
                </div>
              </dl>
            </div>
            <!-- Team -->
          </div>
        </div>
      </div>
    </div>
  </main>
</StandarLayout>
