---
import StandarLayout from "@Layouts/StandarLayout.astro";

import HomeBanner from "@Components/en/home/HomeBanner.astro";
import CountDownEvent from "@Components/en/home/CountDownEvent.astro";
import FeaturedVideos from "@Components/en/home/FeaturedVideos.astro";
import Presentation from "@Components/en/home/Presentation.astro";
import Sponsors from "@Components/en/unused/Sponsors.astro";
---

<StandarLayout title="Home">

  <HomeBanner />

  <main id="main-content" class="grow lg:pt-0">

    <!-- SPONSORS -->
    <Sponsors />
    <!-- SPONSORS -->

    <!-- COUNT DOWN EVENT -->
    <CountDownEvent />
    <!-- COUNT DOWN EVENT -->

    <!-- PRESENTATION -->
    <Presentation />
    <!-- PRESENTATION -->

    <!-- FEATURED VIDEOS -->
    <FeaturedVideos />
    <!-- FEATURED STREAMS -->

    <!-- LATEST BLOG POSTS -->
    <!--<HomeLatestBlogPosts />-->
    <!-- LATEST BLOG POSTS -->

    <!-- NEXT EVENTS -->
    <!--<NextEvents />-->
    <!-- NEXT EVENTS -->

  </main>

</StandarLayout>
