<!-- FOOTER -->
<footer id="site-footer">
	<div class="container">

	  <div class="grid grid-cols-12 gap-x-5 gap-y-9 border-t border-gray-500/20 py-16 md:gap-x-6 lg:gap-x-7.5 lg:pt-[75px] lg:pb-[66px]">

		<!-- LOGO -->
		<div class="col-span-full lg:col-span-2">
		  <a href="/en/">
			<img
            class="h-max-50 w-max-50"
            src="/assets/img/logo.webp"
            alt="LoM Academy Logo"
          />
		  </a>
		</div>
		<!-- LOGO -->

		<!-- LINKS -->
		<div class="col-span-full lg:col-span-6">

		  <div>
			<nav>
			  <ul class="grid grid-cols-9 gap-x-5 gap-y-4.5 text-sm font-bold md:gap-x-6 lg:gap-x-7.5">
				<li class="col-span-3">
				  <a class="text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="/en/">Home</a>
				</li>
				<li class="col-span-3">
				  <a class="text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="/en/news">News</a>
				</li>
				<li class="col-span-3">
				  <a class="text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="/en/guides">Guides</a>
				</li>
				<li class="col-span-3">
				  <a class="text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent disabled" href="/en/events">Events</a>
				</li>
				<li class="col-span-3">
				  <a class="text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent disabled" href="/en/ranking">Ranking</a>
				</li>
				<li class="col-span-3">
				  <a class="text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent" href="/en/about">About</a>
				</li>
			  </ul>
			</nav>
		  </div>

		</div>
		<!-- LINKS -->

		<!-- SOCIAL -->
		<div class="col-span-full lg:col-span-4">

		  <div class="pt-1">
			<a href="#" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-white bg-social-discord hover:bg-social-discord/90 w-full">
			  <svg class="h-[14px] w-[14px]" fill="currentColor">
				<use xlink:href="/assets/img/social-icons.svg#discord"></use>
			  </svg>
			  Join our server

			</a>

			<div class="mt-6 text-sm">
			  Join our server to get the latest news, guides, events and more!
			  Let's make the community bigger and better!
			</div>
		  </div>

		</div>
		<!-- SOCIAL -->

	  </div>

	</div>
  </footer>
  <!-- FOOTER -->