<div
  class="js-mobile-menu p-t-[64px] fixed left-0 top-[64px] z-50 block h-[calc(100dvh-64px)] w-full translate-x-full overflow-auto bg-white dark:bg-gray-700 py-5 text-primary dark:text-white transition-transform duration-300 lg:hidden"
>
  <div class="container">
    <!-- Navigation (Mobile) -->
    <ul class="flex flex-col font-bold">
      <!-- HOME -->
      <li
        class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10"
      >
        <a
          class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
          href="/en/"
        >
          Home
        </a>
      </li>
      <!-- HOME -->
      <!-- NEWS -->
      <li
        class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10"
      >
        <a
          class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
          href="/en/news"
        >
          News
        </a>
      </li>
      <!-- NEWS -->
      <!-- GUIDES -->
      <li
        class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10"
      >
        <a
          class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
          href="/en/guides"
        >
          Guides
        </a>

        <button
          class="js-mobile-submenu-toggle ml-auto inline-flex h-7 w-7 items-center justify-center transition-transform"
        >
          <svg role="img" class="sub-menu-toggle h-1.5 w-1.5 fill-accent">
            <use xlink:href="/assets/img/str1/sprite.svg#plus"></use>
          </svg>
        </button>

        <ul
          class="flex max-h-0 w-full flex-col overflow-hidden pl-4 text-sm transition-all duration-300 [&>li:last-child]:pb-4"
        >
          <li class="flex flex-wrap items-center gap-x-4">
            <a
              class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
              href="/en/guides/classes"
            >
              Class Guides
            </a>
          </li>
          <li class="flex flex-wrap items-center gap-x-4">
            <a
              class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
              href="/en/guides/progress"
            >
              Progress Guides
            </a>
          </li>
          <li class="flex flex-wrap items-center gap-x-4 disabled">
            <a
              class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent disabled"
              href="_str1-single-2.html"
            >
              Event Guides
            </a>

            <button
              class="js-mobile-submenu-toggle ml-auto inline-flex h-7 w-7 items-center justify-center transition-transform"
            >
              <svg role="img" class="sub-menu-toggle h-1.5 w-1.5 fill-accent">
                <use xlink:href="/assets/img/str1/sprite.svg#plus"></use>
              </svg>
            </button>

            <ul
              class="flex max-h-0 w-full flex-col overflow-hidden pl-4 transition-all duration-300"
            >
              <li class="flex flex-wrap items-center gap-x-4">
                <a
                  class="flex-grow gap-x-1 py-2 transition-colors hover:text-accent"
                  href="_str1-single.html"
                >
                  Another Item
                </a>
              </li>
              <li class="flex flex-wrap items-center gap-x-4">
                <a
                  class="flex-grow gap-x-1 py-2 transition-colors hover:text-accent"
                  href="_str1-single-2.html"
                >
                  Other Level Item
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- GUIDES -->
      <!-- EVENTS -->
      <li
        class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10 disabled"
      >
        <a
          class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent disabled"
          href="/en/guides"
        >
          Events
        </a>

        <button
          class="js-mobile-submenu-toggle ml-auto inline-flex h-7 w-7 items-center justify-center transition-transform"
        >
          <svg role="img" class="sub-menu-toggle h-1.5 w-1.5 fill-accent">
            <use xlink:href="/assets/img/str1/sprite.svg#plus"></use>
          </svg>
        </button>

        <ul
          class="flex max-h-0 w-full flex-col overflow-hidden pl-4 text-sm transition-all duration-300 [&>li:last-child]:pb-4"
        >
          <li class="flex flex-wrap items-center gap-x-4">
            <a
              class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
              href="/en/events/game-events"
            >
              Game Events
            </a>
          </li>
          <li class="flex flex-wrap items-center gap-x-4 disabled">
            <a
              class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent disabled"
              href="/en/events/community-events"
            >
              Community Events
            </a>
          </li>
        </ul>
      </li>
      <!-- EVENTS -->
      <!-- RANKING -->
      <li
        class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10"
      >
        <a
          class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
          href="/en/ranking"
        >
          Ranking
        </a>
      </li>
      <!-- RANKING -->
      <!-- ABOUT -->
      <li
        class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10 disabled"
      >
        <a
          class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent disabled"
          href="_str1-events.html"
        >
          About Us
        </a>

        <button
          class="js-mobile-submenu-toggle ml-auto inline-flex h-7 w-7 items-center justify-center transition-transform"
        >
          <svg role="img" class="sub-menu-toggle h-1.5 w-1.5 fill-accent">
            <use xlink:href="/assets/img/str1/sprite.svg#plus"></use>
          </svg>
        </button>

        <ul
          class="flex max-h-0 w-full flex-col overflow-hidden pl-4 text-sm transition-all duration-300 [&>li:last-child]:pb-4"
        >
          <li class="flex flex-wrap items-center gap-x-4">
            <a
              class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
              href="_str1-single-event.html"
            >
              Contact
            </a>
          </li>
        </ul>
      </li>
      <!-- ABOUT -->
      <!-- LANGUAGE -->
      <li
        class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200/50 dark:border-b-gray-200/10"
      >
        <a
          class="flex-grow gap-x-1 py-4 leading-normal text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
          href="#"
        >
          <span class="fi fi-gb h-6 w-6"/>
        </a>

        <button
          class="js-mobile-submenu-toggle ml-auto inline-flex h-7 w-7 items-center justify-center transition-transform"
        >
          <svg role="img" class="sub-menu-toggle h-1.5 w-1.5 fill-accent">
            <use xlink:href="/assets/img/str1/sprite.svg#plus"></use>
          </svg>
        </button>

        <ul
          class="flex max-h-0 w-full flex-col overflow-hidden pl-4 text-sm transition-all duration-300 [&>li:last-child]:pb-4"
        >
          <li class="flex flex-wrap items-center gap-x-4">
            <a
              class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
              href="/en/"
            >
              English
            </a>
          </li>
          <li class="flex flex-wrap items-center gap-x-4 disabled">
            <a
              class="flex-grow gap-x-1 py-2 text-gray-900 transition-colors hover:text-accent dark:text-white dark:hover:text-accent disabled"
              href="/es/"
            >
              Spanish
            </a>
          </li>
        </ul>
      </li>
      <!-- LANGUAGE -->
    </ul>
    <!-- Navigation (Mobile) / End -->
  </div>
</div>
